<h1>О компании</h1>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <img src="images/about.png" alt="О нас"/>
        
        </div>
        <div class="col-lg-6">
         
       <p class="text_about"> Мы создаём прозрачную цифровую среду для взаимодействия власти, бизнеса и третьего сектора. Разработали и постоянно совершенствуем линейку IT-инструментов для реализации программ корпоративной социальной ответственности и поддержки социальных инициатив.
    </p>
       <p class="text_about">Корпорации и государственные органы всех регионов используют наши продукты, чтобы проводить грантовые и творческие конкурсы и поощрять лучшие социальные проекты.</p>



        </div>
    </div>
</div>
